{
  "openapi": "3.1.0",
  "info": {
    "title": "Heyy API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.heyy.io/api/v2.0"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/{channelId}/whatsapp_messages/send": {
      "post": {
        "summary": "Send WhatsApp message",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "TEMPLATE"
                        ]
                      },
                      "fileId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "messageTemplateId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "variables": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "value"
                          ]
                        }
                      },
                      "scheduledAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "phoneNumber",
                      "type",
                      "messageTemplateId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "AUDIO"
                        ]
                      },
                      "fileId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "scheduledAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "phoneNumber",
                      "type",
                      "fileId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "DOCUMENT",
                          "IMAGE",
                          "VIDEO"
                        ]
                      },
                      "bodyText": {
                        "type": "string",
                        "maxLength": 4096
                      },
                      "fileId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "scheduledAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "phoneNumber",
                      "type",
                      "fileId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "TEXT"
                        ]
                      },
                      "bodyText": {
                        "type": "string",
                        "maxLength": 4096
                      },
                      "scheduledAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "phoneNumber",
                      "type",
                      "bodyText"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        },
                        "message": {},
                        "status": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "phoneNumber",
                        "status",
                        "createdAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  }
}