{
  "openapi": "3.1.0",
  "info": {
    "title": "Heyy API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.heyy.io/api/v2.0"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/{channelId}/chats": {
      "get": {
        "summary": "Get chats",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "channelId": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "handleId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "isUnread": {
                            "type": "boolean"
                          },
                          "assignedUserId": {
                            "type": "string"
                          },
                          "assignedTeamId": {
                            "type": "string"
                          },
                          "lastMessageAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "channelId",
                          "contactId",
                          "status",
                          "isUnread",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/{channelId}/chats/{chatId}": {
      "get": {
        "summary": "Get chat by id",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "channelId": {
                          "type": "string"
                        },
                        "contactId": {
                          "type": "string"
                        },
                        "handleId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isUnread": {
                          "type": "boolean"
                        },
                        "assignedUserId": {
                          "type": "string"
                        },
                        "assignedTeamId": {
                          "type": "string"
                        },
                        "lastMessageAt": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "channelId",
                        "contactId",
                        "status",
                        "isUnread",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update chat",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isUnread": {
                    "type": "boolean"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "OPEN",
                      "CLOSED",
                      "SNOOZED"
                    ]
                  },
                  "assignedUserId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  },
                  "assignedTeamId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "channelId": {
                          "type": "string"
                        },
                        "contactId": {
                          "type": "string"
                        },
                        "handleId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isUnread": {
                          "type": "boolean"
                        },
                        "assignedUserId": {
                          "type": "string"
                        },
                        "assignedTeamId": {
                          "type": "string"
                        },
                        "lastMessageAt": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "channelId",
                        "contactId",
                        "status",
                        "isUnread",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  }
}